* {
  font-family: Manrope;
}

header {
  display:flex;
  justify-content: space-between;
}

.menu_container {
  display:flex;
  align-items: center;
}

.logo{
  margin-left: 20px;
}



/* div,button{
  margin-left: 10px;
}  Es lo mismo que .menu_container > * */

.menu_container > *{
  margin-left: 10px;
}

.button_primary {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  background: #F1E4FF;
  border-radius: 8px;
  border: 0px;
  padding: 10px 31px;
  color: #8C30F5;
}

/* Estilo alternativo para un evento con un elemento de una clase -> nombredeclase::*/
.button_primary:hover {
  background: #8C30F5;
  color: white;
}

.button_secondary {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  background: #8C30F5;
  border-radius: 8px;
  border: 0px;
  padding: 10px 31px;
  color: #F1E4FF;
}

.button_secondary:hover {
  background: #F1E4FF;
  color: #8C30F5
}
